*{
  margin: 0;
  padding: 0;
}

.navbar{
  width: 99%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border: 3px solid #000066;
}

#logo{
  height: 65px;
  width: 65px;
}
